{%extends 'all-hoods/base.html' %} {% block content %} {{block.super}}
{% load static %}
   <link rel="stylesheet" href="{% static 'css/home.css' %}">
   <div class="container">
       <div class="row">
           <h2 style="margin-left:200px">
               <b>Welcome to Our Neighborhood</b>
           </h2>
           <p>
               It's where communities come together to greet newcomers, exchange recommendations,
                and read the latest local news. Where neighbors support local businesses and get updates from public agencies.
                 Where neighbors borrow tools and sell couches.
                It's how to get the most out of everything nearby. Welcome, neighbor.
           </p>
       </div>
       <div class="bg">
          <a class="btn btn-success " href="#" style="margin: 100px; margin-left: 350px; color: black; font-size: large; font-weight: bold;">Sign Up</a>
       </div>
       <div class="footer">
          <p style="margin-left: 130px;">Copyright &copy;2022 All Rights reserved</p>
       </div>
   </div>
   
{% endblock %}