{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <nav
      class="navbar navbar-inverse"
      style="background-color: white; margin-top: 30px"
    >
      <div class="container-fluid">
        {% if user.is_authenticated %}
        <div class="navbar-header">
          <a class="navbar-brand text-success" href=" {%url 'home'%} ">Home</a>
        </div>
        <div class="dropdown">
          <button
            class="btn btn-success dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Resident
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href=" {% url 'hood'%} ">Neighborhood</a>
            <a class="dropdown-item" href="{% url 'my_biz'%}">Businesses</a>
            <a class="dropdown-item" href="{% url 'hood_posts'%}" >posts</a>
          </div>
        </div>
        <div class="dropdown" style="margin-right: 100px;">
          <img
            class="rounded-circle dropdown-toggle"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            src="/static/image/neib.jpg"
            alt="profile"
            width="30px"
            height="30px"
          />
          <div
            class="dropdown-menu"
            aria-labelledby="dropdownMenuButton"
            style="width: 20px"
          >
            <a class="dropdown-item" href="{% url 'view_prof' %}">my profile</a>
            <a class="dropdown-item" href="my_profile/">Add profile</a>
            <a class="dropdown-item" href="{%url 'home' %}">Logout</a>
          </div>
        </div>
        {% else %}
        <div class="navbar-header">
          <a class="navbar-nav" href="{%url 'register' %}">Register</a>
        </div>
        {% endif %}
      </div>
    </nav>
  </body>
</html>
