{%extends 'all-hoods/base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<style>
    h3{
      color: white;  
    }
</style>
<div class="container">
     <h3>Businesses In my village </h3>
     <a class="btn btn-success" href="{% url 'business' %}">Add Business</a>
     {% for business in businesses %}
     <div class="row">
         <div class="card" style="width: 30rem; margin-left: 200px;" >
         <div class="card-header card-title">
            <p>Name: {{business.business_name}}</p>
         </div>
         <div class="card-body">
            
              <img src="{{business.business_image.url}}" alt="image">
         </div>
         <div class="col-xs-2 col-sm-2 col-lg-2"></div>

         <div class="card-footer" >
             <p class="card-text">Located at: <span>{{business.neighborhood}} owned By :{{business.owner}} </span></p>
             <p>Business Emmail: <span> <b>{{business.email}}</b> </span></p>
         </div>
         </div>
     </div>  
    {% endfor %}
  
</div>
{%endblock%}