{%extends 'all-hoods/base.html' %}
{% block content %}
{% load static %}
{{block.super}}
<div class="container">
    <div class="row" style="margin-top: 30px;">
         <a class="btn btn-success" href="{% url 'new_hood' %}">Join Hood</a>
   
      <form class="form-inline mr-3" action="/search" enctype="multipart/form-data" role="search" aria-label="Search" style="margin-left: 200px;">
          {% csrf_token %}
             <input autocomplete="off" id="searching" class="form-control input-sm search" 
              placeholder="&#xF002; search hood"  style="font-family:Arial, FontAwesome" name="name">
        </form>
         </div>
    {% for neighbor in neighbors %}
    <div class="row" style="color: black; margin-left: 200px; margin-bottom: 30px;">
        <div class="card" style="width: 30rem;">
        <div class="card-header">
            <h4>Neighborhood</h4>
             <p> {{neighbor.name}} located in {{neighbor.location}} County</p>
        </div>
 
        <div class="card-body">
            <img src="{{neighbor.image_hood.url}}" alt="">
            <h4>About us</h4>
            <p> {{neighbor.about}} </p>
        </div>
        <div class="card-text">
            <h4>Emergency Call</h4>
            <p> <span>Police Number:</span> {{neighbor.police_num}} </p>
            <p> <span>Hospital Number:</span> {{neighbor.doctor_no}} </p>
            <p> <span>Administator Number:</span> {{neighbor.administrator}} </p>
        </div>
        <hr>
          <div class="card-footer">
     
        <a class="btn btn-success" href="">Leave Hood</a>
      
    </div>
    </div>

  
     </div>
    {% endfor %}
</div>
{% endblock %}