{%extends 'all-hoods/base.html' %}
{% block content %}
{{block.super}}
<div class="container">
    {% for neighbor in neighbors %}
    <div class="row" style="color: white;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h4>Neighborhood</h4>
             <p> {{neighbor.name}} </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>Location</h4>
            <p>{{neighbor.location}}</p>
             <img src="{{neighbor.image_hood.url}}" alt="">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>About us</h4>
            <p> {{neighbor.about}} </p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h4>Emergency Call</h4>
            <p> <span>Police Number:</span> {{neighbor.police_num}} </p>
            <p> <span>Hospital Number:</span> {{neighbor.doctor_no}} </p>
            <p> <span>Administator Number:</span> {{neighbor.administrator}} </p>
        </div>
        {% for post in posts %}
      
        <h5> {{ post.title}}</h5>
        <p>{{ post.post }}</p>
    
        {% endfor %}
        <hr>
    </div>

    <div class="row">
     
        <a class="btn btn-primary" href="">Leave Hood</a>
      
    </div>
    {% endfor %}
</div>
{% endblock %}