{%extends 'all-hoods/base.html' %}
{% block content %}
{% load static %}
{{block.super}}
<div class="container">
    <div class="row" style="margin-top: 30px;">
         <a class="btn btn-success" href="{% url 'new_hood' %}">Join Hood</a>
   
      <form class="form-inline mr-3" action="/search" enctype="multipart/form-data" role="search" aria-label="Search" style="margin-left: 200px;">
          {% csrf_token %}
             <input autocomplete="off" id="searching" class="form-control input-sm search" 
              placeholder="&#xF002; search hood"  style="font-family:Arial, FontAwesome" name="name">
        </form>
         </div>
    {% for neighbor in neighbors %}
    <div class="row" style="color: white;">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h4>Neighborhood</h4>
             <p> {{neighbor.name}} </p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>Location</h4>
            <p>{{neighbor.location}}</p>
             <img src="{{neighbor.image_hood.url}}" alt="">
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h4>About us</h4>
            <p> {{neighbor.about}} </p>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
            <h4>Emergency Call</h4>
            <p> <span>Police Number:</span> {{neighbor.police_num}} </p>
            <p> <span>Hospital Number:</span> {{neighbor.doctor_no}} </p>
            <p> <span>Administator Number:</span> {{neighbor.administrator}} </p>
        </div>
        <hr>
    </div>

    <div class="row">
     
        <a class="btn btn-success" href="">Leave Hood</a>
      
    </div>
    {% endfor %}
</div>
{% endblock %}