{% extends 'all-hoods/base.html'%}
{% load bootstrap4 %} 
{% load static %} 
{% block content %}
{{block.super}}
<div class="container">
  <div class="row">
      {%for profile in profiles %}
      {{profile.bio}}

    <img class="rounded-circle" src="{{profile.profile_pic.url}}" alt="">
    {{user.profile.name}}
    {{user.profile.bio}}
    <div class="col-md-3">
      {%if profile.neighborhood %}
      <p> {{profile.neighborhood.name}} </p>
      {%endif%}
    </div>
    <div class="col-md-3">
      <p><span>Name:</span> {{profile.name}} </p>
      {% if profile.phone%}
      <p><span>Phone Number</span> {profile.phone} </p>
      {%endif%}
      <p>{{user.profile.bio}}</p>
    </div>
    {% endfor %}
  </div>
  </div>
  {% endblock%}